@font-face {
    font-family: 'Circular';
    font-weight: normal;
    src: url(fonts/Circular\ Std\ Book.ttf)
}

@font-face {
    font-family: 'Circular';
    font-weight: 700;
    src: url(fonts/Circular\ Std\ 700.ttf)
}




:root {
    --blue: rgb(46,124,208);
    --purple: rgb(215,218,232);
}



















html {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    background-color: rgb(241,242,247);

    font-family: 'IBM Plex Sans';
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
}













.budget-container {
    display: grid;
    grid-template-columns: 35% 65%;

    height: 100%;
    width: 100%;
}








.budget-header {
    display: grid;
    grid-template-rows: 30% 70%;
}






.budget-header .balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 40px 15px 15px 40px;

    background-color: white;

    border-radius: 10px;

    box-shadow: 0 3px 1px 0 var(--purple);
}

.budget-header .balance .value {
    font-weight: 700;
    font-size: 60px;
}

.budget-header .balance .title {
    font-size: 20px;
}








.budget-header .account {
    display: grid;
    grid-template-rows: 13% 87%;

    margin: 15px 15px 40px 40px;

    background-color: white;

    border-radius: 10px;

    box-shadow: 0 3px 1px 0 var(--purple);
}







.budget-header .account .account-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--blue);
    color: white;

    border-radius: 10px 10px 0 0;

    padding-left: 25px;

    font-weight: 600;
}






.budget-header .account .grid-container {
    display: grid;
    grid-template-rows: 62% 38%;
}


.budget-header .account .grid-container .chart {
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: end;
}

.budget-header .account .chart canvas {

    width: 200px;
    height: 200px;
}








.budget-header .account .income_outcome {
    display: flex;
    justify-content: space-evenly;
}

.budget-header .account .income_outcome .income {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--blue);
}

.budget-header .account .income_outcome .income .income-total {
    font-size: 30px;
    font-weight: 700;
}

.budget-header .account .income_outcome .income .title {
    font-size: 15px;
}

.budget-header .account .income_outcome .outcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #f20505;
}

.budget-header .account .income_outcome .outcome .outcome-total {
    font-size: 30px;
    font-weight: 700;
}

.budget-header .account .income_outcome .outcome .title {
    font-size: 15px;
}








.budget-dashboard {
    display: grid;
    grid-template-rows: 9% 18% 73%;

    margin: 40px 40px 40px 15px;

    background-color: white;

    border-radius: 10px;

    box-shadow: 0 3px 1px 0 var(--purple);
}

.budget-dashboard .dash-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--blue);
    color: white;

    font-weight: 600;
    
    border-radius: 10px 10px 0 0;

    padding-left: 25px;
}






.budget-dashboard .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.budget-dashboard .toggle div {
    color: rgb(150,150,150);

    border-radius: 10px;

    padding: 15px 25px;

    font-weight: 600;
}

.budget-dashboard .toggle div:hover {
    color: var(--blue);
    cursor: pointer;
}

.active {
    color: var(--blue) !important;
    background-color: rgb(208,225,244) !important;
    font-weight: 700;
}






#income {
    display: grid;
    grid-template-rows: auto 25%;

    padding: 0 60px;
}





#income .list {
    width: auto;
    
    margin: 0;
    padding: 0;

    list-style: none;
}

#income .list li {
    display: flex;
    align-items: center;

    margin-bottom: 15px;
}

#income .list li #edit {
    padding: 10px 20px;

    background-color: rgb(235,235,235);

    border-radius: 10px;

    margin-left: auto;
    margin-right: 10px;
}

#income .list li #delete {
    padding: 10px 20px;

    background-color:  #f20505;
    color: white;

    border-radius: 10px;
}






#income .input {
    display: flex;
    align-items: center;
}

#income .input input {
    outline: none;
    border: none;

    border-radius: 10px;

    background-color: rgb(235,235,235);

    width: 9vw;

    padding: 10px 20px;

    font-family: 'IBM Plex Sans';
    font-weight: 500;
}

#income .input input::placeholder {
    color: rgb(180,180,180);
}

#income .input input[type='number'] {
    margin-left: 15px;
}

#income .input .add-income {
    color: var(--blue);

    border: 3px solid var(--blue);

    border-radius: 10px;

    padding: 10px 20px;

    margin-left: auto;

    font-weight: 700;

    cursor: pointer;
}

#income .input .add-income:hover {
    background-color: var(--blue);
    color: white;
}










#expense {
    display: grid;
    grid-template-rows: auto 25%;

    padding: 0 60px;
}





#expense .list {
    width: auto;
    
    margin: 0;
    padding: 0;

    list-style: none;
}

#expense .list li {
    display: flex;
    align-items: center;

    margin-bottom: 15px;
}

#expense .list li #edit {
    padding: 10px 20px;

    background-color: rgb(235,235,235);

    border-radius: 10px;

    margin-left: auto;
    margin-right: 10px;
}

#expense .list li #delete {
    padding: 10px 20px;

    background-color:  #f20505;
    color: white;

    border-radius: 10px;
}






#expense .input {
    display: flex;
    align-items: center;
}

#expense .input input {
    outline: none;
    border: none;

    border-radius: 10px;

    background-color: rgb(235,235,235);

    width: 9vw;

    padding: 10px 20px;

    font-family: 'IBM Plex Sans';
    font-weight: 500;
}

#expense .input input::placeholder {
    color: rgb(180,180,180);
}

#expense .input input[type='number'] {
    margin-left: 15px;
}

#expense .input .add-expense {
    color: var(--blue);

    border: 3px solid var(--blue);

    border-radius: 10px;

    padding: 10px 20px;

    margin-left: auto;

    font-weight: 700;

    cursor: pointer;
}

#expense .input .add-expense:hover {
    background-color: var(--blue);
    color: white;
}












#all {
    display: grid;

    padding: 0 60px;
}

#all .list {
    width: auto;
    
    margin: 0;
    padding: 0;

    list-style: none;
}

#all .list li {
    display: flex;
    align-items: center;

    margin-bottom: 15px;
}

#all .list li #edit {
    padding: 10px 20px;

    background-color: rgb(235,235,235);

    border-radius: 10px;

    margin-left: auto;
    margin-right: 10px;
}

#all .list li #delete {
    padding: 10px 20px;

    background-color:  #f20505;
    color: white;

    border-radius: 10px;
}







.hide {
    display: none !important;
}















@media only screen and (max-device-width: 500px) and (min-device-height: 500px) {
    
    html {
        font-size: 13px;
    }

    .budget-container {
        grid-template-columns: 100%;
        grid-template-rows: 45% 55%;
    }





    .budget-header .balance {
        margin: 20px 20px 7px 20px;
    }

    .budget-header .balance .value {
        font-weight: 700;
        font-size: 25px;
    }
    
    .budget-header .balance .title {
        font-size: 13px;
    }





    .budget-header .account {
        grid-template-rows: 23% 77%;

        margin: 7px 20px 7px 20px;
    }





    .budget-header .account .grid-container {
        grid-template-rows: unset;
        grid-template-columns: 50% 50%;
    }





    .budget-header .account .grid-container .chart {
        align-self: center;
        justify-self: end;

        margin-right: 20px;
    }

    .budget-header .account .chart canvas {
        width: 15vh;
        height: 15vh;
    }




    

    .budget-header .account .income_outcome {
        flex-direction: column;

        justify-self: start;

        margin-left: 20px;
    }

    .budget-header .account .income_outcome .income .income-total {
        font-size: 20px;
        font-weight: 700;
    }
    
    .budget-header .account .income_outcome .income .title {
        font-size: 13px;
    }

    .budget-header .account .income_outcome .outcome .outcome-total {
        font-size: 20px;
        font-weight: 700;
    }
    
    .budget-header .account .income_outcome .outcome .title {
        font-size: 13px;
    }







    .budget-dashboard {
        grid-template-rows: 13% 22% 65%;

        margin: 7px 20px 20px 20px;
    }

    .budget-dashboard .toggle div {
        padding: 10px 20px;
    }

    #income {
        grid-template-rows: 62% 38%;

        padding: 0 30px;
    }

    #income .list li {
        margin-bottom: 10px;
    }

    #expense {
        grid-template-rows: 62% 38%;

        padding: 0 30px;
    }

    #expense .list li {
        margin-bottom: 10px;
    }

    #all {
        padding: 0 30px;
    }

    #all .list li {
        margin-bottom: 10px;
    }
}