:root {
    --blue: #004785;
    --red: #a90533;
    --lblue: rgb(238,243,246);
    --llblue: rgb(220,231,237);
}





html,body {
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;

    background-color: var(--lblue);

    font-family: 'Fira Sans';
    font-size: 18px;
}

h1,p {
    margin: 0;
}

.hide {
    display: none !important;
}








#bar {
    display: flex;
    align-items: center;

    position: sticky;

    height: 70px;

    padding: 0 30px;

    background-color: var(--blue);
    color: white;
}

#bar img {
    height: 40px;
}

#bar h1 {
    margin-left: 10px;

    font-size: 18px;
    font-weight: 400;
}

#bar div {
    margin-left: auto;
}









#layout {
    display: grid;
    grid-template-columns: auto 1fr;
    
    min-height: 540px;

    padding: 70px;
}




.label {
    padding: 20px;

    background-color: var(--blue);
    color: white;

    text-align: left;
}


#analysis {
    border-bottom: 6px solid var(--llblue);

    width: 250px;

    margin-right: 35px;

    background-color: white;

    text-align: center;
}



#analysis .chart {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 230px;
}

#analysis .chart canvas {
    width: 55%;
}





















#analysis h1 {
    font-size: 19px;
}

#analysis p {
    color: rgb(180,180,180);
}





#analysis .income, .expenses {
    margin-bottom: 20px;
}





#analysis .income h1 {
    color: var(--blue);
}

#analysis .expenses h1 {
    color: var(--red);
}











#board {
    display: grid;
    grid-template-rows: auto auto 1fr;
}









#board .toggle {
    padding: 30px 0;

    background-color: white;
}

#board .toggle .frame {
    display: flex;
    justify-content: center;

    border: 3px solid var(--blue);
    border-radius: 7px;

    width: fit-content;

    padding: 0;
    margin: auto;
}

#board .toggle div {
    padding: 10px 20px;

    color: rgb(150,150,150);

    cursor: pointer;

    margin: -1px;
}

#board .toggle div:hover {
    color: var(--blue);
}

.active {
    color: white !important;
    background-color: var(--blue) !important;
}







#expense, #income {
    display: grid;
    grid-template-rows: auto 1fr;
}

#all {
    display: grid;
    grid-template-rows: 1fr;

    background-color: white;
}

#expense .container, .buttons {
    background-color: white;
    border-bottom: 6px solid var(--llblue);
}

#income .container, .buttons {
    background-color: white;
    border-bottom: 6px solid var(--llblue);
}

#all .container {
    border-bottom: 6px solid var(--llblue);
}

#all .dashboard {
    background-color: white;
}

#board .container {
    padding-bottom: 42px;
}

#board .container .dashboard {
    height: 198px;

    overflow: auto;
}

#all .container .dashboard {
    height: 310px;
}












#board .buttons {
    display: flex;
    align-items: center;

    border-bottom: 6px solid var(--llblue);

    padding: 0 10px;
    margin-top: 30px;

    background-color: white;
}

#board .buttons input {
    border: none;
    outline: none;

    border-radius: 0;

    width: 120px;
    height: 40px;

    margin-left: 20px;
    padding-left: 20px;

    background-color: rgb(240,240,240);

    font-family: 'Fira Sans';
}

#board .buttons input::placeholder {
    font-family: 'Fira Sans';
    font-size: 18px;
}

#board .buttons div {
    border-bottom: 5px solid black;

    margin: 0 20px 0 auto;
    padding: 10px 20px;

    background-color: var(--blue);
    color: white;

    cursor: pointer;
}

#board .buttons div:hover {
    background-color: rgb(0,48,91);
}





#all .dashboard {
    margin-bottom: 0;
}










.list {
    margin: 0;
    padding: 0 40px;

    list-style: none;
}

.list li {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}










/*
#edit {
    padding: 10px 20px;

    background-color: rgb(235,235,235);

    border-radius: 10px;

    margin-left: auto;
    margin-right: 10px;

    cursor: pointer;
}

#edit:hover {
    background-color: rgb(180,180,180);
}
*/

#edit {
    display: none;
}

#delete {
    border-bottom: 5px solid black;

    padding: 10px 20px;

    background-color: var(--red);
    color: white;

    margin-left: auto;

    cursor: pointer;
}

#delete:hover {
    background-color: rgb(122,3,36);
}





































@media (max-width: 900px) {

    html,body {
        font-size: 14px;
    }

    #bar {
        height: 60px;

        padding: 0 20px;
    }

    #bar img {
        width: 30px;
    }

    #bar h1 {
        font-size: 14px;
    }



    

    #layout {
        grid-template-columns: unset;
        grid-template-rows: auto 1fr;

        height: 900px;

        padding: 40px;
    }

    .label {
        padding: 15px;
    }

    #analysis {
        display: grid;
        grid-template-rows: auto 1fr;

        width: 100%;
        height: 220px;

        margin-right: 0;
        margin-bottom: 25px;
    }

    #analysis .wrap-one {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #analysis .chart {
        width: 140px;
        height: 140px;
    }

    #analysis .chart canvas {
        width: 80%;
    }

    #analysis .wrap-two {
        margin: 0 15px;
    }

    #analysis .income, .expenses {
        margin-bottom: 10px;
    }

    #analysis h1 {
        font-size: 15px;
    }









    

    #board .toggle div {
        padding: 7px 15px;
        margin: -1.5px;
    }

    #board .container .dashboard {
        height: 225px;
    }

    #all .container .dashboard {
        height: 440px;
    }


    #board .buttons {
        flex-direction: column;
        justify-content: center;
    }

    #board .buttons input {
        width: 250px;
        height: 35px;

        margin: 0 0 10px 0;
    }

    #board .buttons input::placeholder {
        font-size: 14px;
    }

    #board .buttons div {
        margin: 15px 0 0 0;
        padding: 7px 35px;
    }





    #delete {
        padding: 7px 15px;
    }
    
    

    

}